<!-- index.html -->
{% extends "base.html" %}
{% block title %}Candlestick Chart{% endblock %}

{% block navigation %}
<div>
    <a href="/logout">Logout</a>
</div>
{% endblock %}

{% block content %}
<!-- Add your dashboard content here -->
<div>
    <label for="timeline">Select Timeline:</label>
    <select id="timeline" onchange="handleTimelineChange()">
        <option value="5">5 minutes</option>
        <option value="15">15 minutes</option>
        <option value="30">30 minutes</option>
        <option value="60">1 hour</option>
        <option value="240">4 hours</option>
        <option value="720">12 hours</option>
        <option value="D">Daily</option>
        <option value="W">Weekly</option>
        <option value="M">Monthly</option>
    </select>
</div>
<div class="container">
    <div id="chart-section" class="fullscreen">
        <div id="candlestick-chart"></div>
    </div>
    <div id="watchlist-section" class="watchlist-container">
       
        <ul id="watchlist-items">
            
        </ul>
    </div>
</div>
<!--

<div>
    <h2>Symbol Info</h2>
    <p>Current Price: <span id="current-price"></span></p>
    <p>High Price (24h): <span id="high-price"></span></p>
    <p>Low Price (24h): <span id="low-price"></span></p>
    <p>Price Change (24h): <span id="price-change"></span></p>
</div>

<div>
    <button onclick="addPriceAlert()">Add Price Alert</button>
</div>
<div>
    <button onclick="checkForAlerts()">Check Price Alert</button>
</div>
<div>
    <input type="checkbox" id="portfolio-email-checkbox" onclick="togglePortfolioEmail()">
    <label for="portfolio-email-checkbox">Sign up for daily portfolio email updates</label>
</div>
-->

<script>
    let lastSelectedSymbol = "BTCUSDT"; // Initialize with default symbol
    const updateInterval = 1000; // Update every second (1000 milliseconds)

    function updateChartWithCrypto(cryptoName, selectedTimeline) {
        fetch(`/candlestick_data?crypto=${cryptoName}&timeline=${selectedTimeline}`)
            .then(response => response.json())
            .then(data => {
                const trace = {
                    x: data.map(d => d.times),
                    open: data.map(d => d.open),
                    high: data.map(d => d.high),
                    low: data.map(d => d.low),
                    close: data.map(d => d.close),
                    type: 'candlestick',
                    name: 'Candlestick Chart',
                };

                const layout = {
                    title: `Candlestick Chart for ${cryptoName} - ${selectedTimeline} minutes`,
                    xaxis: {
                        rangeslider: {
                            visible: false
                        }
                    },
                    yaxis: {
                        title: 'Price',
                        fixedrange: true
                    }
                };

                const figure = {
                    data: [trace],
                    layout: layout
                };

                Plotly.newPlot('candlestick-chart', figure);
            });
        lastSelectedSymbol = cryptoName;
    }
    function togglePortfolioEmail() {
        const checkbox = document.getElementById("portfolio-email-checkbox");
        const signUpForEmailUpdates = checkbox.checked;

        // Send the data to the backend using fetch
        fetch('/sign_up_for_portfolio_email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                sign_up: signUpForEmailUpdates
            })
        })
        .then(response => response.json())
        .then(data => {
            // Display a success message or handle errors here
            alert(data.message);
        })
        .catch(error => {
            // Handle errors here
            console.error(error);
        });
    }
    function updateSymbolInfo() {
        fetch(`/symbol_info?symbol=${lastSelectedSymbol}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById("symbol").innerText=lastSelectedSymbol;
                document.getElementById("current-price").innerText = data[0].lastPrice;
                document.getElementById("high-price").innerText = data[0].highPrice24h;
                document.getElementById("low-price").innerText = data[0].lowPrice24h;
                document.getElementById("price-change").innerText = data[0].price24hPcnt;
            });
    }

    function handleTimelineChange() {
        const selectedTimeline = document.getElementById("timeline").value;
        updateChartWithCrypto(lastSelectedSymbol, selectedTimeline);
        updateSymbolInfo();
    }

    document.getElementById("watchlist-items").addEventListener("click", handleWatchlistItemClick);

    function handleWatchlistItemClick(event) {
    const cryptoName = event.target.dataset.crypto;
    if (cryptoName) {
        const selectedTimeline = document.getElementById("timeline").value;
        updateChartWithCrypto(cryptoName, selectedTimeline);
        updateSymbolInfo();
    } else {
        // Display the popup
        showAddStockPopup();
    }
}


    // Initial chart load
    updateChartWithCrypto("BTCUSDT", "5"); // You can set the default crypto and timeline here
    updateSymbolInfo(); // Call the function to update symbol info

    // Set interval to update symbol info every second
    setInterval(updateSymbolInfo, updateInterval);
    setInterval(checkForAlerts, 100000);

    function displayNotification(symbol) {
        alert(`Price Alert for ${symbol}`);
    }
    // Function to add price alert thresholds when adding to the watchlist
    function addPriceAlert() {
    const lowerLimit = parseFloat(window.prompt('Enter Lower Limit:'));
    const upperLimit = parseFloat(window.prompt('Enter Upper Limit:'));
    if (!isNaN(lowerLimit) && !isNaN(upperLimit)) {
        // Send the data to the backend using fetch
        fetch('/add_price_alert', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                crypto_name: lastSelectedSymbol,
                lower_limit: lowerLimit,
                upper_limit: upperLimit
            })
        })
        .then(response => response.json())
        .then(data => {
            // Display a success message or handle errors here
            alert(data.message);
        })
        .catch(error => {
            // Handle errors here
            console.error(error);
        });
    }}
    function checkForAlerts() {
        fetch('/check_alerts')
            .then(response => response.json())
            .then(data => {
                const triggeredAlerts = data.triggered_alerts;
                if (triggeredAlerts.length > 0) {
                    for (const symbol of triggeredAlerts) {
                        displayNotification(symbol);
                    }
                }
            })
            .catch(error => {
                console.error(error);
            });
    }
    document.getElementById("candlestick-chart").addEventListener("click", function (event) {
        // Stop propagation of the click event to prevent it from reaching the chart
        event.stopPropagation();
    }); 
    
    checkForAlerts();


</script>
{% endblock %}
