{% extends "base.html" %}

{% block content %}
    <h2>Register</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <div class="form-group">
                {{ field.label(class="form-label") }}<br>
                {% if field.type != "SubmitField" %}
                    {{ field(class="form-control", size=32) }}
                    {% for error in field.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% else %}
                    {{ field(class="btn btn-primary") }}
                {% endif %}
            </div>
        {% endfor %}
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}

{% endblock %}
