{% extends "base.html" %}

{% block content %}
    <div class="registration-container">
        <h2>Register</h2>
        <form method="POST" class="registration-form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class="form-label") }}<br>
                    {% if field.type != "SubmitField" %}
                        {{ field(class="form-control") }}
                        {% for error in field.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    {% else %}
                        {{ field(class="btn btn-primary", onclick="this.form.submit()") }}
                    {% endif %}
                </div>
            {% endfor %}
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block stylesheets %}
    {{ super() }}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    .registration-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        color: black;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        color: #333;
    }

    .form-text {
        display: block;
        color: #dc3545;
        margin-top: 5px;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #cd155c;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    .registration-form {
            padding: 25px;
            padding-right: 40px;
        }
    .btn-primary:hover {
        background-color: #b81b57;
    }
</style>
{% endblock %}
